schema/map.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RSVStatusMap">
    <xsd:complexType>
      <xsd:sequence>

          <xsd:element name="Sites">
            <xsd:complexType>
              <xsd:sequence>

                <xsd:element maxOccurs="unbounded" name="Site">
                  <xsd:complexType>
                    <xsd:sequence>

                      <xsd:element name="ID" type="xsd:integer" />
                      <xsd:element name="Name" type="xsd:string" />
                      <xsd:element name="Status" type="xsd:string" />
                      <xsd:element name="Latitude" type="xsd:double" />
                      <xsd:element name="Longitude" type="xsd:double" />

                      <xsd:element name="ResourceGroups">
                        <xsd:complexType>
                          <xsd:sequence>

                              <xsd:element name="ResourceGroup" maxOccurs="unbounded">
                                <xsd:complexType>
                                  <xsd:sequence>

                                    <xsd:element name="ID" type="xsd:integer" />
                                    <xsd:element name="SummaryURL" type="xsd:string" />
                                    <xsd:element name="Name" type="xsd:string" />

                                      <xsd:element name="Resources">
                                        <xsd:complexType>
                                          <xsd:sequence>

                                              <xsd:element name="Resource" minOccurs="0" maxOccurs="unbounded">
                                                <xsd:complexType>
                                                  <xsd:sequence>

                                                    <xsd:element name="ID" type="xsd:integer" />
                                                    <xsd:element name="Name" type="xsd:string" />
                                                    <xsd:element name="Status" type="xsd:string" />
                                                    <xsd:element name="Note" type="xsd:string" />

                                                  </xsd:sequence>
                                                </xsd:complexType>
                                              </xsd:element>

                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>

                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>

                          </xsd:sequence>
                        </xsd:complexType>
                      </xsd:element>

                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>

              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>

      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
