schema/miscmetric.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="RSVMetrics">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="RSVMetric">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ID" type="xsd:int" />
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="CommonName" type="xsd:string" />
              <xsd:element name="Abbreviation" type="xsd:string" />
              <xsd:element name="Description" type="xsd:string" />
              <xsd:element name="TimeInterval" type="xsd:int" />
              <xsd:element name="FreshFor" type="xsd:int" />
              <xsd:element name="WLCGMetricType" type="xsd:string" />
              <xsd:element name="Services">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Service">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="ID" type="xsd:int" />
                          <xsd:element name="Name" type="xsd:string" />
                          <xsd:element name="CriticalMetric" type="xsd:boolean" />
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
