schema/misccpuinfo.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CPUInfos">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="CPUInfo">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ID" type="xsd:int" />
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="NormalizationConstant" type="xsd:decimal" />
              <xsd:element name="Notes" type="xsd:string" />
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
