schema/misccount.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="ResourceServiceCount">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="GridTypes">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="GridType">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="ID" type="xsd:int" />
                    <xsd:element name="Name" type="xsd:string" />
                    <xsd:element name="TotalResourceCount" type="xsd:int" />
                    <xsd:element name="ServiceGroups">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element maxOccurs="unbounded" name="ServiceGroup">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="ID" type="xsd:int" />
                                <xsd:element name="Name" type="xsd:string" />
                                <xsd:element name="Services">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Service">
                                        <xsd:complexType>
                                          <xsd:sequence>
                                            <xsd:element name="ID" type="xsd:int" />
                                            <xsd:element name="Name" type="xsd:string" />
                                            <xsd:element name="Count" type="xsd:int" />
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
