schema/rgbdii.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="BDII">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="ResourceGroups">
          <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="ResourceGroup">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element name="GridType" type="xsd:string" />
                      <xsd:element name="GroupID" type="xsd:int" />
                      <xsd:element name="GroupName" type="xsd:string" />
                      <xsd:element name="Resources">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element minOccurs="0" maxOccurs="unbounded" name="Resource">
                                <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="ID" type="xsd:int" />
                                      <xsd:element name="Name" type="xsd:string" />
                                      <xsd:element name="FQDN" type="xsd:string" />

                                      <xsd:element minOccurs="0" name="DynamicInformation">
                                          <xsd:complexType>
                                            <xsd:sequence>
                                                <xsd:element name="FQDN" type="xsd:string" />
                                                <xsd:element minOccurs="0" name="OSG_VERSION" type="xsd:string" />
                                                <xsd:element minOccurs="0" name="VDT_VERSION" type="xsd:string" />
                                                <xsd:element minOccurs="0" name="GIP_VERSION" type="xsd:string" />

                                                <xsd:element name="Services">
                                                  <xsd:complexType>
                                                    <xsd:sequence>
                                                    <xsd:element maxOccurs="unbounded" name="Service">
                                                      <xsd:complexType>
                                                        <xsd:sequence>
                                                          <xsd:element name="ServiceName" type="xsd:string" />
                                                          <xsd:element name="ServiceUri" type="xsd:string" />
                                                          <xsd:element name="Queues">
                                                              <xsd:complexType>
                                                                <xsd:sequence>
                                                                <xsd:element maxOccurs="unbounded" name="Queue">
                                                                  <xsd:complexType>
                                                                    <xsd:sequence>
                                                                      <xsd:element name="QueueName" type="xsd:string" />

                                                                      <xsd:element name="State">
                                                                        <xsd:complexType>
                                                                          <xsd:sequence>
                                                                              <xsd:element name="GlueCEStateTotalJobs" type="xsd:int" />
                                                                              <xsd:element name="GlueCEStateEstimatedResponseTime" type="xsd:int" />
                                                                              <xsd:element name="GlueCEStateWaitingJobs" type="xsd:int" />
                                                                              <xsd:element name="GlueCEStateFreeCPUs" type="xsd:int" />
                                                                              <xsd:element name="GlueCEStateRunningJobs" type="xsd:int" />
                                                                              <xsd:element name="GlueCEStateFreeJobSlots" type="xsd:int" />
                                                                              <xsd:element name="GlueForeignKey" type="xsd:string" />
                                                                          </xsd:sequence>
                                                                        </xsd:complexType>
                                                                      </xsd:element>

                                                                      <xsd:element name="AllowedVOFQANs">
                                                                        <xsd:complexType>
                                                                          <xsd:sequence>
                                                                              <xsd:element maxOccurs="unbounded" name="FQAN" type="xsd:string"/>
                                                                          </xsd:sequence>
                                                                        </xsd:complexType>
                                                                      </xsd:element>

                                                                    </xsd:sequence>
                                                                  </xsd:complexType>
                                                                </xsd:element>
                                                                </xsd:sequence>
                                                              </xsd:complexType>
                                                          </xsd:element>
                                                        </xsd:sequence>
                                                      </xsd:complexType>
                                                    </xsd:element>
                                                    </xsd:sequence>
                                                  </xsd:complexType>
                                                </xsd:element>

                                            </xsd:sequence>
                                          </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                            </xsd:sequence>
                          </xsd:complexType>
                      </xsd:element>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
