schema/rgcurrentstatus.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="CurrentStatus">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="ResourceGroup">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="GroupType" type="xsd:string" />
              <xsd:element name="GroupName" type="xsd:string" />
              <xsd:element maxOccurs="unbounded" name="Resource">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Status" type="xsd:string" />
                    <xsd:element name="ResourceName" type="xsd:string" />
                    <xsd:element name="Fqdn" type="xsd:string" />
                    <xsd:element name="Note" type="xsd:string" />
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="Service">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Name" type="xsd:string" />
                          <xsd:element name="Description" type="xsd:string" />
                          <xsd:element name="Status" type="xsd:string" />
                          <xsd:element name="Note" type="xsd:string" />
                          <xsd:element name="CriticalMetrics">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Metric">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Status" type="xsd:string" />
                                      <xsd:element name="Expired" type="xsd:boolean" />
                                      <xsd:element minOccurs="0" name="ReportedAt" type="xsd:int" />
                                      <xsd:element name="Description" type="xsd:string" />
                                      <xsd:element name="HelpURL" type="xsd:string" />
                                      <xsd:element name="Name" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="Detail" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="MetricDataID" type="xsd:int" />
                                      <xsd:element minOccurs="0" name="FreshFor" type="xsd:int" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                          <xsd:element minOccurs="0" name="NonCriticalMetrics">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" minOccurs="0" name="Metric">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Status" type="xsd:string" />
                                      <xsd:element name="Expired" type="xsd:boolean" />
                                      <xsd:element minOccurs="0" name="ReportedAt" type="xsd:int" />
                                      <xsd:element name="Description" type="xsd:string" />
                                      <xsd:element name="HelpURL" type="xsd:string" />
                                      <xsd:element name="Name" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="Detail" type="xsd:string" />
                                      <xsd:element minOccurs="0" name="MetricDataID" type="xsd:int" />
                                      <xsd:element minOccurs="0" name="FreshFor" type="xsd:int" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
