schema/scsummary.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <xsd:simpleType name="boolean">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="True"/>
      <xsd:enumeration value="False"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="SupportCenterSummary">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="SupportCenter">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ID" type="xsd:int" />
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="LongName" type="xsd:string" />
              <xsd:element name="Community" type="xsd:string" />
              <xsd:element name="Active" type="boolean" />
              <xsd:element name="Disable" type="boolean" />
              <xsd:element name="ContactTypes">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="unbounded" name="ContactType">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Type" type="xsd:string" />
                          <xsd:element name="Contacts">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="Contact">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="Name" type="xsd:string" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
