schema/voactivation.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="vos">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="VO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ID" type="xsd:int" />
            <xsd:element name="Name" type="xsd:string" />
            <xsd:element name="LongName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="VOActivation">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Active" type="vos" />
        <xsd:element name="Enabled" type="vos" />
        <xsd:element name="Disabled" type="vos" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
