schema/vovomsstatus.xsd

<?xml version="1.0" encoding="utf-16"?>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="VOVOMSStatus">
    <xsd:complexType>
    <xsd:sequence>
        <xsd:element name="VOs">
            <xsd:complexType>
            <xsd:sequence>
                <xsd:element maxOccurs="unbounded" name="VO">
                    <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:int" />
                        <xsd:element name="Name" type="xsd:string" />

                        <xsd:element name="VOMSes">
                            <xsd:complexType>
                            <xsd:sequence>
                                <xsd:element minOccurs="0" maxOccurs="unbounded" name="VOMS">
                                    <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="Status" type="xsd:string" />
                                        <xsd:element name="URL" type="xsd:string" />
                                        <xsd:element name="Description" type="xsd:string" />
                                    </xsd:sequence>
                                    </xsd:complexType>
                                </xsd:element>
                            </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:sequence>
    </xsd:complexType>
</xsd:element>
</xsd:schema>
